.botoes{
    width: 330px;
    background: #4D4646;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    gap: 10px;
}

.text{
    width: 74px;
    height: 65px;
    background: #646363;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    border-radius: 12px;
    border: 1px solid  #8a8282;
}

.text:hover {
    border: #4e4949;
    color: rgb(145, 141, 141);
  }
