*{
    margin: 0;
}

.main{
    height: 100vh;
    background: #584949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section{
    background-color: #4D4646;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}